// SIZES
$nav-bar-left-width: 71px;
$nav-bar-height: 100px;

$sidebar-left-width: 85px;


// COLORS
$custom-blue: #203B70;
$custom-gray: #5D6473;
$custom-dark-blue: #1D2F56;
$custom-light-blue: #E3ECFF;
